/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    color: #1f1e21;
    font-family: museo-sans, sans-serif; 
}

h2, h3 {
    letter-spacing: normal;
    text-transform: uppercase;
    font-weight: 600;
}


sup{
    font-size: 0.5em;
      top: -1em;
}
p {
    line-height: 1.6em;
    padding-right: 3em;
}

a{
    text-decoration: none;
}
h3 a{
    color: black;    
}

h3 a:hover{
    color: #8bb532;    
}


h3 a span{
    color: #8bb532;
    
}
.video{
    padding: 1em 0 1em;
}

 .content ul li
 {
     padding: 1em 2em 1em 2em;
     margin-top: -1em;
     background:  transparent url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" viewBox="0 0 32 32"><path d="M27 4l-15 15-7-7-5 5 12 12 20-20z" fill="#8bb532"></path></svg>') 0 50% no-repeat; 
 }

 .content ul
 {
     margin: 0;
     padding: 0;
     list-style: none;
}

 
/*
 * -- Layout Styles --
 */

 .up{

 }
.t-content{
    padding: 0.4em 1.2em 0.8em ;
}

.darkgrey{
    background-color: #ddd;
}

.title{
    margin: 0;
    font-weight: normal;
    font-size: 0.8em;
    padding: 1em 1.2em;
}


img{
    max-width: 100%;
}

.l-content,
.banner .l-content {
    margin: 0 auto;
}

.l-box {
    padding: 0.5em 2em;
}

.l-box {
	  counter-reset: dl-list;
    margin: 0 0 2em 0;
    padding: 0;
}

.l-box dt {
    font-size: 1.5em;
    margin: 1em 2em 0.5em 0;
    background-color: #e5e5e5;
    -webkit-border-radius: 2em;
            border-radius: 2em;
    padding: 0.35em 0;
    cursor: pointer;
}



.l-box dd{
   max-height: 0;
    -webkit-transition: max-height 0.3s;
            transition: max-height 0.3s;
    overflow: hidden;
    
    padding-right: 4em;

}


.l-box dd.active{    
	   max-height: 500px;
    -webkit-transition: max-height 0.6s;
            transition: max-height 0.6s;
}



.l-box dt:before {
	  content: counter(dl-list);
	  counter-increment: dl-list;
    padding: 0.35em 0.75em;
    margin-right: 1em;
    background: #8bb532;
    -webkit-border-radius: 2em;
            border-radius: 2em;
    color: #FFFFFF;
    
}

.l-box dt.active {
    background: #8bb532;
    color: #FFFFFF;
}

.l-box dt.active:before {

    background: #8bb532;
    -webkit-box-shadow: rgba(0,0,0,0.4) 4px 0 1px ;
            box-shadow: rgba(0,0,0,0.4) 4px 0 1px ;
}

hr{
    height: 26px;
    background: #f1f1f2 url("../images/hr.png") 100% 50% repeat-y;
    border: 0;
    margin: 2em 0;
    padding: 0;
}

.box{
    border-left: solid 0.5em #8bb532;
    padding: 1px 2em;
}
#ReF{
    -webkit-border-radius: 1em;
            border-radius: 1em;
}

/*
 * -- MENU STYLES --
 * Make the menu have a very faint box-shadow.
 */
.custom-menu-wrapper .l-content, .pure-menu .l-content , .banner .l-content, .content .l-content {
    max-width: 980px;
}



.pure-menu  .grey {
    background: -webkit-gradient(linear, left top, right top, from(#d7d7d7), color-stop(50%, #d7d7d7), color-stop(50%, #eeeeee), to(#eeeeee));
    background: -webkit-linear-gradient(left, #d7d7d7 0%, #d7d7d7 50%, #eeeeee 50%, #eeeeee 100%);
    background: linear-gradient(to right, #d7d7d7 0%,#d7d7d7 50%,#eeeeee 50%, #eeeeee 100%);
    
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7d7d7', endColorstr='#eeeeee',GradientType=1 ); 
}

.pure-menu-heading{
    overflow: hidden;
    background-color: #d7d7d7;

}


.pure-menu-heading img{
    float: right;
}



.menu ul.pure-g{
    margin: 0;
    padding: 0;
    text-align: center;
    display: block;
    letter-spacing: 0;
}


a.brand{
    text-align: center;
    vertical-align: middle;
    background: #FFFFFF;
    padding: 0;
    line-height: 3.4em;
    position: relative;
    font-weight: bold;
    font-size: 1.2rem;
    z-index: 101;
    color: #254392;
}

a.brand:hover{
    z-index: 200;
    background: #FFFFFF;
    
}

a.brand span{
    display: block;
    color: #254392;
}





.menu ul.pure-g li.pure-menu-selected,
.menu ul.pure-g li:hover{
    z-index: 200;
}

.menu ul.pure-g li:active{

    z-index: 200;
}


.menu ul.pure-g li:hover{
    z-index: 201;
}

.menu ul.pure-g li.pure-menu-selected  a {
    color: #254392;
}

ul.pure-g li.pos_1{
    z-index: 100;

}



ul.pure-g li a{

    font-size: 1.15rem;
}




ul.pure-g li.pos_2{
    z-index: 99;
}

ul.pure-g li.pos_3{
    z-index: 98;
}

ul.pure-g li.pos_4{
    z-index: 97;
}

ul.pure-g li.pos_5{
    z-index: 96;
}

ul.pure-g li.pos_6{
    z-index: 95;
}



.menu ul.pure-g li a,
.menu ul.pure-g li a:hover{
    background: transparent;
    display: inline-block;
    line-height: 4rem;
    padding: 0 10px ;
    vertical-align: middle;
    font-weight: bold;
    font-size: 1rem;
}


.menu ul.pure-g a{
    white-space: normal;
}

.blue{
    background-color: #254392;
}

.green{
    background-color: #8bb532;
}




.gt{
    color: #8bb532;
}

.light{
    font-weight: 100;
    font-size: 1em;
}

.grey{
    background-color: #e5e5e5;
}


.light_grey{
    background-color: #eee;
}


.menu .pure-menu-link {
    color: #181818;
}


#Footer{
    margin-top: 2em;    
}



/*
 * -- BANNER --
 * The top banner with the headings. By using a combination
 * of `display: table;` and `display: table-cell;`, we can
 * vertically center the text.
 */

.PhotoBanner {
    background: transparent url('../images/Plantex_shutterstock_27332227.jpg') 50% 50% no-repeat fixed;
    background-size: cover;
    -webkit-background-size:cover;
                                
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/Plantex_shutterstock_27332227.jpg', sizingMethod='scale');
    height: 200px;
    width: 100%;
    display: table;
    color: #FFF;
}

 @media (max-width: @iphone-screen) {
     
     .PhotoBanner {

        background-attachment: scroll;

     }

 }

.PhotoBanner legend{
    font-size: 2rem;
    font-weight: bold;
    color: #FFF;
    border: 0;
}


.PhotoBanner input[type="text"], .PhotoBanner input[type="email"], .PhotoBanner .pure-button{
    -webkit-border-radius: 1rem;
            border-radius: 1rem;
}


.PhotoBanner input[type="text"], .PhotoBanner input[type="email"]{
    color: #000;
}

.PhotoBanner .pure-button{
    padding: 0.5em 2em;
    background-color: #8bb532;
    font-weight: 900;
    
}

.PhotoBanner label{
    margin: 0.5em 0;
}

.PhotoBanner .content{
    margin: 3em auto 0;   
}


.banner-head {
    display: table-cell;
    vertical-align: middle;
    margin-bottom: 0;
    font-size: 2em;
    color: white;
    font-weight: 500;
}


.banner {
    margin: 0;
    background: -webkit-gradient(linear, left top, right top, from(#ececec), color-stop(50%, #ececec), color-stop(50%, #e5e5e5), to(#e5e5e5));
    background: -webkit-linear-gradient(left, #ececec 0%, #ececec 50%, #e5e5e5 50%, #e5e5e5 100%);
    background: linear-gradient(to right, #ececec 0%,#ececec 50%,#e5e5e5 50%, #e5e5e5 100%);    
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#e5e5e5',GradientType=1 ); 
}

.banner .caption{
    padding: 2em 0;
    background: #ececec url('../images/banner-bg.png') 100% 0 repeat-y ;

}


.clear{
    clear: both;
}

.clear100{
    clear: both;
    width: 100%;
}



.right{
    float: right;
}
.left{
    float: left;
}



/*
 * -- PRICING TABLE WRAPPER --
 * This element wraps up all the pricing table elements
 */

.pricing-tables {
    margin-bottom: 1em;
    text-align: center;
}

/*
 * -- PRICING TABLE  --
 * Every pricing table has the .pricing-table class
 */
.pricing-table {
    border: 1px solid #ddd;
    margin: 0 0.5em 2em;
    padding: 0 0 3em;
}

/*
 * -- PRICING TABLE HEADER COLORS --
 * Choose a different color based on the type of pricing table.
 */
.pricing-table-free .pricing-table-header {
    background: #519251;
}

.pricing-table-biz .pricing-table-header {
    background: #2c4985;
}

/*
 * -- PRICING TABLE HEADER --
 * By default, a header is black/white, and has some styles for its <h2> name.
 */
.pricing-table-header {
    background: #111;
    color: #fff;
}
.pricing-table-header h2 {
    margin: 0;
    padding-top: 2em;
    font-size: 1em;
    font-weight: normal;

}


/*
 * -- PRICING TABLE PRICE --
 * Styles for the price and the corresponding <span>per month</span>
 */
.pricing-table-price {
    font-size: 6em;
    margin: 0.2em 0 0;
    font-weight: 100;
}
.pricing-table-price span {
    display: block;
    text-transform: uppercase;
    font-size: 0.2em;
    padding-bottom: 2em;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    *color: #fff;
}



/*
 * -- PRICING TABLE LIST --
 * Each pricing table has a <ul> which is denoted by the .pricing-table-list class
 */
.pricing-table-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}


/*
 * -- PRICING TABLE LIST ELEMENTS --
 * Styles for the individual list elements within each pricing table
 */
.pricing-table-list li {
    padding: 0.8em 0;
    background: #f7f7f7;
    border-bottom: 1px solid #e7e7e7;
}


/*
 * -- PRICING TABLE BUTTON --
 * Styles for the "Choose" button at the bottom of a pricing table.
 * This inherits from Pure Button.
 */
.button-choose {
    border: 1px solid #ccc;
    background: #fff;
    color: #333;
    -webkit-border-radius: 2em;
            border-radius: 2em;
    font-weight: bold;
    position: relative;
    bottom: -1.5em;
}

.information-head {
    color: black;
    font-weight: 500;
}

.footer {
    font-size: 0.9em;
    color: #888;
}
.footer a {
    color: #000;
}

.footer p{
    padding: 0.2em 0;
}



/**
  menu Copy 
**/

.custom-menu-wrapper {
    white-space: nowrap;
    position: relative;
} 

.custom-menu {
    overflow: visible;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
}



.custom-menu-top {
    position: relative;
}

.custom-menu-brand {
    display: block;
    text-align: center;
    position: relative;
}

.custom-menu-toggle {
    width: 100px;
    height: 70px;
    display: none;
    position: absolute;
    top: 3px;
    right: 0;
    z-index: 300;
}

.custom-menu-toggle .bar {
    background-color: #000;
    display: block;
    width: 20px;
    height: 2px;
    -webkit-border-radius: 100px;
            border-radius: 100px;
    position: absolute;
    z-index: 300;
    top: 30px;
    right: 60px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}


.custom-menu-toggle .meny{
    font-weight: bold;
    color: #000;
    position: absolute;
    z-index: 300;
    top: 23px;
    right: 12px;
    font-size: 0.9rem;
}

.custom-menu-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}


.custom-menu-toggle .bar:nth-child(2) {
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
}

.custom-menu-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom-menu-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}


.custom-menu-tucked{
    display: none;
}

@media (min-width: 64em) {
    .bubble{        
        position: absolute;    
        padding: 5px;
        margin-top: 2em;
        right: 5em;
    }
    .padding{
        padding: 1.5em 0 2em 2em;
    }
    .custom-menu-wrapper .l-content, .pure-menu .l-content , .banner .l-content, .content .l-content {

        position:relative;
    }
    .pricing-tables,
    .information,
    .f-content,
    .content{
        max-width: 980px;
        margin: 4em auto 0;
    }


    .menu ul.pure-g li a,
    .menu ul.pure-g li a:hover{
        -webkit-transform: skew(15deg);
            -ms-transform: skew(15deg);
                transform: skew(15deg);
    }
    

    .menu ul.pure-g li{
        -webkit-transform: skew(-15deg);
            -ms-transform: skew(-15deg);
                transform: skew(-15deg);
    }

    a.brand{
        -webkit-transform: skew(-15deg);
            -ms-transform: skew(-15deg);
                transform: skew(-15deg);        
    }


    a.brand span{
        -webkit-transform: skew(15deg);
            -ms-transform: skew(15deg);
                transform: skew(15deg);

    }
   
    

    a.brand{
        -webkit-box-shadow: #cbcbcb 1px 0px 1px;
                box-shadow: #cbcbcb 1px 0px 1px;
    }

    a.brand:hover{
        -webkit-box-shadow: rgba(0,0,0,0.2) 0 0px 0 1px, rgba(0,0,0,0.3) 3px 3px 20px -1px;
                box-shadow: rgba(0,0,0,0.2) 0 0px 0 1px, rgba(0,0,0,0.3) 3px 3px 20px -1px;    
    }


    .menu ul.pure-g li.pure-menu-selected,
    .menu ul.pure-g li:hover{    
        -webkit-box-shadow: rgba(0,0,0,0.2) 0 0px 0 1px, rgba(0,0,0,0.3) 3px 3px 20px -1px ;    
                box-shadow: rgba(0,0,0,0.2) 0 0px 0 1px, rgba(0,0,0,0.3) 3px 3px 20px -1px ;    
    }

    .menu ul.pure-g li:active{
        -webkit-box-shadow: rgba(0,0,0,0.2) 0 0px 0 1px, rgba(0,0,0,0.4) 3px 3px 10px -2px ;
                box-shadow: rgba(0,0,0,0.2) 0 0px 0 1px, rgba(0,0,0,0.4) 3px 3px 10px -2px ;

    }


    ul.pure-g li.pos_1{
        -webkit-box-shadow: #cbcbcb 1px 0px 1px, rgba(0,0,0,0.2) 0 3px 20px -2px ;
                box-shadow: #cbcbcb 1px 0px 1px, rgba(0,0,0,0.2) 0 3px 20px -2px ;
    }


     .menu ul.pure-g li{
        vertical-align: middle;
        background: #FFFFFF;
        padding: 0;
        line-height: 4em;
        -webkit-box-shadow: rgba(0,0,0,0.2) 1px 0px 1px;
                box-shadow: rgba(0,0,0,0.2) 1px 0px 1px;
        position: relative;
        float: left;
        margin-left: -1px;
     }

     
  
}

@media (max-width: 64em) {

    a.brand{
        text-align: left;
        padding: 0 1rem ;
    }
   

    .bubble{
        
        display: inline-block;
        padding: 5px;
        margin-top: 2em;
        float: right;
    }
    .f-content{
        text-align: center;
    }

 

    .custom-menu-wrapper .l-content, .pure-menu .l-content , .banner .l-content, .content .l-content {
        overflow: hidden;
    }

     .content, .information{
        overflow: hidden;
        padding: 0.5em 1em;
    }


     .banner .caption {
        overflow: hidden;
        padding: 1em 2em 1em 1em;
    } 

     .banner  {      
        margin-bottom: 0em;
    }

    .custom-menu {
        display: block;
        -webkit-box-shadow: rgba(0,0,0,0.5) 1px 0px 10px;
                box-shadow: rgba(0,0,0,0.5) 1px 0px 10px;
    }

    .custom-menu-toggle {
        display: block;
        display: none\9;
    }

    .custom-menu-bottom {
        position: absolute;
        width: 100%;
        border-top: 1px solid #eee;
        background-color: #808080\9;
        z-index: 100;
    }

    .custom-menu-bottom .pure-menu-link {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
    }
  
     .custom-menu-tucked .menu{
         display: none;
     }
     #tuckedMenu{
         background: white;
     }

     .menu ul.pure-g li{
         vertical-align: middle;
         background: #FFFFFF;
         padding: 0;
         -webkit-box-shadow: rgba(0,0,0,0.2) 1px 0px 1px;
                 box-shadow: rgba(0,0,0,0.2) 1px 0px 1px;
         position: relative;
     }
     .caption.l-content{ 
         font-size: 0.7em;
     }
     

}
/* End Menu */

/* -- TABLET MEDIA QUERIES --
 * On tablets, we want to slightly adjust the size of the PhotoBanner
 * text and add some vertical space between the various pricing tables
 */
@media(min-width: 767px) {

    .PhotoBanner-head {
        font-size: 4em;
    }
    .pricing-table {
        margin-bottom: 0;
    }

}

/*
 * -- PHONE MEDIA QUERIES --
 * On phones, we want to reduce the height and font-size of the PhotoBanner further
 */
@media (min-width: 480px) {
    .PhotoBanner {
        height: 400px;
    }
    .PhotoBanner-head {
        font-size: 3em;
    }
}
